In [ ]:
import psycopg2
from sqlalchemy import create_engine
import numpy as np
import pandas as pd
from datetime import datetime
import config

In [ ]:
def connect():
    conn = psycopg2.connect(
        user=config.db_user, password=config.db_pw, host=config.db_host, port=config.db_port
    )
    print('successfully connected')
    return conn

def sql_query(cmd, params = None):
    conn = connect()
    cursor = conn.cursor()

    cursor.execute(cmd, params)

    conn.commit()
    cursor.close()
    conn.close()
    print('success')

# sql_query("""INSERT INTO rsf_data (capacity, datetime) VALUES (%s,%s)""", (50, datetime.now()))
sql_query("""DELETE FROM rsf_data""")

successfully connected
success

In [ ]:
# turn database into pandas dataframe
dbstring = (config.sql_url)
sqlconn = create_engine(dbstring).connect()
data = pd.read_sql_table('rsf_data', sqlconn)
df = data

In [ ]:
df

Empty DataFrame
Columns: [capacity, datetime]
Index: []